<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>contact-detail</title>
</head>
<body>
	<section>
		  <div class="card mr-3 ml-3" th:if="${contact}">
			  <div class="card-body">
				  <div class="container text-center">
					  <img src="" style="height:200px; width: 200px;" class="my_profile_photo" th:src="@{'/img/'+${contact.image}}" alt="profile photo"/>
					  <h2><span th:text="${contact.name}"></span> (<span  th:text="${contact.nickname}"></span>)</h2>
					  <div class="table-responsive">
					  <table class="table ">
					  <thead>
					    <tr>
					      <th scope="col">#ID</th>
					      <th scope="col">SCM2023_<span th:text="${contact.cid}"></span></th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
							<th scope="row">Email</th>
							<td><span th:text="${contact.email}"></span></td>
						</tr>
						 <tr>
							<th scope="row">Phone</th>
							<td><span th:text="${contact.phone}"></span></td>
						</tr>
						<tr>
							<th scope="row">Work</th>
							<td><span th:text="${contact.work}"></span></td>
						</tr>
						<tr>
							<th scope="row">Description</th>
							<td><span th:utext="${contact.description}"></span></td>
						</tr>
					  </tbody>
                 </table>
                 </div>
                 <div class="container">
					 <button th:onclick="|deleteContact(${contact.cid})|" class="btn btn-danger btn-sm">Delete</button>
					 <form method="post" th:action="@{'/user/update-contact/'+${contact.cid}}" class="mt-2">
					     <button type="submit" class="btn btn-primary btn-sm">Update</button>
					 </form>
				 </div>
				  </div>
			  </div>
		  </div>
		  <h2 class="text-center p-3 ml-3 mr-3 bg-warning" th:unless="${contact}">You don't have permission to see this contact detail</h2>
	</section>
</body>
</html>