<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>view-contacts-dashboard</title>
</head>
<body>
	<section>
		 <div class="card ml-3 mr-3">
			 <div class="card-body">
				 <h1 class="text-center">Your Contacts</h1>
				 <!-- search -->
				 <div class="search-container my-3">
					 <input onkeyup="search()" id="search-input" type="text" class="form-control" placeholder="Search your contacts"/>
					 <div class="search-result">
						 <!-- result goes here -->
						 <h2>this is result</h2>
					 </div>
				 </div>
				 <div class="table-responsive">
				 <table class="table table-hover">
					  <thead class="thead-light">
					    <tr>
					      <th scope="col">#ID</th>
					      <th scope="col">Name</th>
					      <th scope="col">Email</th>
					      <th scope="col">Phone</th>
					      <th scope="col">Action</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr th:each="c: ${contacts}">
					      <th scope="row" th:text="${'SCM2023_'+c.cid}"></th>
					      <td>
							  <img src="" class="my_profile_photo" th:src="@{'/img/'+${c.image}}" alt="profile photo"/>
							  <span th:text="${c.name}"></span>
						  </td>
						  <td>
							  <a href="#" th:href="@{'/user/contact-detail/'+${c.cid}}">
								  <span th:text="${c.email}"></span>
							  </a>
						  </td>
					      <td th:text="${c.phone}"></td>
					      <td>
							  <a href="#" th:onclick="|deleteContact(${c.cid})|" class="btn btn-danger btn-sm">Delete</a>
							  <form method="post" th:action="@{'/user/update-contact/'+${c.cid}}" class="mt-2">
								  <button type="submit" class="btn btn-primary btn-sm">Update</button>
							  </form>
						  </td>
					    </tr>
					  </tbody>
                 </table>
                 </div>
                 
                 <!-- pagination -->
                 <div class="container" th:if="${size > 0}">
                 <nav aria-label="Page navigation example" >
				  <ul class="pagination">
				    <li th:if="${currentPage != 0}" class="page-item"><a class="page-link" th:href="@{'/user/view-contact/'+${currentPage-1}}">Previous</a></li>
				    
				    <li th:classappend="${currentPage==i-1?'active':''}" th:each="i : ${#numbers.sequence(1,totalPages)}" class="page-item"><a th:href="@{'/user/view-contact/'+${i-1}}" class="page-link" ><span th:text="${i}"></span></a></li>
				  
				    <li th:if="${currentPage+1 != totalPages}" class="page-item"><a class="page-link" th:href="@{'/user/view-contact/'+${currentPage+1}}">Next</a></li>
				  </ul>
				 </nav>
				 </div>
			 </div>
		 </div>
		 <script>
			  $(document).ready(() =>{
				  $(".item").removeClass("active"); 
				  $("#view-link").addClass("active"); 
			  });
		  </script>
	</section>
</body>
</html>